<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494644829329-muhhsvig6j4rblq4qpef0kcjhqu8oq3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494644829329-muhhsvig6j4rblq4qpef0kcjhqu8oq3i</string>
	<key>API_KEY</key>
	<string>AIzaSyA7k1h8Eh7JKbkiU6JRqi3VX5hQatYZK3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>494644829329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NirbhaySingh.Book2Buyer</string>
	<key>PROJECT_ID</key>
	<string>book2buyer</string>
	<key>STORAGE_BUCKET</key>
	<string>book2buyer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494644829329:ios:74c52b8bce0ea43fdff330</string>
	<key>DATABASE_URL</key>
	<string>https://book2buyer.firebaseio.com</string>
</dict>
</plist>